*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.container{   
    width: 60%;
    height: 100vh;
}
.cadastre{
    margin-left: 75px;
    margin-bottom: 10px;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    color: #bfbfbf;
}

.titulo{
    margin: 80px 80px 15px 80px;
    font-family: "Lato", sans-serif;
    font-size: 50px;
    text-transform: uppercase;
}
.titulo span{
    color: red;
}
input{
    display: block;
    padding: 10px;
    margin: 10px 0px 0px 75px;
    width: 500px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(187, 187, 187);
}
input:focus{
    outline: none;
}
.btnCadastrar{
    background: none;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 35px 0px 0px 200px;
    width: 200px;
}
.btnCadastrar:hover{
    transition: .4s;
    color: white;
    background-color: red;
    border: 1px solid red;
}
.continue{
    margin: 20px 0px 0px 245px;
    color: #bfbfbf;
}
.apps{
    display: flex;
    margin: 20px 0px 0px 100px;
}
.icone{
    border: 1px solid #bfbfbf;
    border-radius: 50px;
    height: 30px;
    margin: 0px 5px 0px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
}
.ouEntrar{
        color: #a5a5a5;
        font-weight: 00;
        margin-top: 10px;
        font-size: 15px;
        margin: 20px 0px 0px 200px;
}
.ouEntrar span{
    color: red;
    font-weight: 500;
}