.container{
    display: flex;
    justify-content: space-around;  
}

.quadrado{
    background-color: #f5f4f4 ;
    width: 282px;
    height: 395px;
    border-radius: 20px;
    box-shadow: 5px 4px 4px rgb(124, 123, 123);
    text-align: center;
   
}

.container img{
    width: 234px;
    height: 226px;
    margin: 20px;
  
}

.atividades h1{
    font-family: "Lato", serif;
    color: #bfbfbf;

}

.atividades{
    margin: 30px;
   text-align: center; 

}

.linha{
    width: 80px;
    height: 2px;
    background-color:#B20000 ;
    margin: 15px auto;

}

.quadrado h3{
    font-size: 32px;
    font-weight: 300;
     
}

.amor img{
    margin-top: 100px;
    width: 100%;
    height: 350px;
}

.numeros{
    width: 100%;
    height: 200px;
    background-color: #F2F2F2;
}

.ajuda h1{
    color: #FF0000;
    font-size: 64px;
    margin-bottom: 15px;
    font-family: "Lato", serif;
}

.ajuda{
    margin: 30px;
}

.quarteto{
    display: flex;
    justify-content: space-around;
}

.numeros{
    text-align: center;
    padding: 15px;
    font-size: 20px;
   
  
}

.tituloMini{
    color: #595959;

}

.escrita{
    font-weight: 600;
    font-family: "Lato", serif;
}

.noel{
    margin: 90px 20px 50px 20px;
    position: initial;
}

.fotos{
    display: flex;
    justify-content: center;
    height: 800px;
}
.botao{
    display: flex;
    justify-content: center;
   
}

.botao a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 310px;
    height: 58px;
    font-size: 24px;
    font-family: "Lato", serif;
    color: #B20000;
    border: #B20000 1px solid;
    font-weight: 600;
    transition: background 0.4s ease-in-out;
}

.linhaDois{
    width: 90%;
    height: 1px;
    background-color:#000000 ;
    margin: 50px auto;
}

 .botao a:hover {
  color: #fff;
  background-color: #B20000;
}