.imagemFundo {
    background-image: url(../../../../images/pages/TelaVoluntario/vovóEvovô.png);
    background-size: cover;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
}
.imagemFundo h2 {
    position: absolute;
    top: 80%;
    color: white;
    background: #b20000;
    font-family: "Julius Sans One", serif;
    padding: 10px;
}
.sejaVol {
    margin: 30px;
    text-align: center;
}
.sejaVol h2 {
    font-family: "Lato", serif;
    color: #bfbfbf;
    text-transform: uppercase;
}
.linha {
    width: 100px;
    height: 2px;
    background-color: #B20000;
    margin: 5px auto;
}
.introducao {
    width: 60%;
    font-size: 1.5rem;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin: auto auto;
}
.ajude{
    width: 100%;
    height: 380px;
    margin-top: 50px;
    background-color: #ff0000;
    color: white;
}
.titulo{
    font-family: "Lato", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    text-transform: uppercase;
}
.ajude img{
    position: absolute;
}
.ajude li{
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    margin: 10px;
}
ul {
     list-style: none; /*Remove as bolinhas */
    padding-left: 20px;
}

/*Como colocar traço pelo css*/
/* li::before {
    content: '-'; /* Adiciona o traço antes de cada item 
    margin-right: 10px;
    color: white;
} */

.lista{
    justify-self: center;
}
.email{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    justify-self: center;
    margin: 25px 0px;
}
.email h3{
    font-weight: 500;
    color: black;
    margin: 5px;
    background: white;
    border-radius: 8px;
    padding: 3px;
}