.blog h1 {
    font-family: "Lato", serif;
    color: #bfbfbf;

}

.blog {
    margin-top: 80px;
    text-align: center;

}

.linha {
    width: 80px;
    height: 1px;
    background-color: #B20000;
    margin: 12px auto 30px auto;

}

.blog a {
    font-family: "Lato", serif;
    color: #bfbfbf;
    font-weight: 300;
    font-size: 30px;
    text-decoration: none;
    margin: 50px;
}

.noticiasEstaticas{
    justify-content: space-around; 
    margin: 100px 200px 0 200px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 0.5fr)); 
    gap: 50px 140px;

  
}


.noticia {
    width: 400px;
    height: 467px;
    background-color: #f5f4f4;
    box-shadow: 4px 4px 4px rgb(173, 173, 173);
    border-radius: 15px;
    padding: 10px;
    font-family: sans-serif;
    flex-wrap: wrap;
   
}

.fotoNoticia {
    width: 380px;
    height: 196px;
    margin: 5px;

}

.noticia h2 {
    font-weight: 400;
    font-size: 18px;
    margin: 15px 20px;
}

.noticia h3 {
    font-weight: 600;
    font-size: 20px;
    margin: 15px 20px;

}

.noticiaTexto {
    font-size: 16px;
    margin: 15px 20px;
}

.bold {
    text-decoration: underline;
    font-size: 16px;
    margin: 15px 20px;


}

.comentarios::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../../../../images/pages/blog/chat\ 1.png");
    background-size: cover;
    margin-right: 10px;
    vertical-align: middle;

}

.seta {
    font-size: 22px;
}

.comentarios {
    margin: 35px 20px;
}





